.App {
  text-align: center;
}

.weather-cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-card {
  border: 1px solid black;
  padding: 30px;
  margin: 20px;
  background-color: antiquewhite;
}
